@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}



.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #37aee6e5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave.png);
    background-size: 1000px 100px;
    animation: waveAnimate 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.25s);
}

.wave#wave1 {
    z-index: 999;
    opacity: 1;
    background-position-x: 400px;
}

.wave#wave2 {
    z-index: 998;
    opacity: 0.5;
    background-position-x: 300px;
}

.wave#wave3 {
    z-index: 997;
    opacity: 0.2;
    background-position-x: 200px;
}

.wave#wave4 {
    z-index: 996;
    opacity: 0.7;
    background-position-x: 100px;
}

@keyframes waveAnimate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.sec {
    background-color: #5dc6f6;
    padding: 50px 20px; /* Alterado para padding responsivo */
    text-align: center;
}

.sec h2 {
    font-size: 2.5em; /* Ajustado para responsividade */
    color: #fff;
}

.sec p {
    font-size: 1.2em;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
}

/* Estilos adicionais para responsividade */
@media (max-width: 768px) {
    .logo h2 {
        font-size: 10vw; /* Ajusta o tamanho da fonte para telas menores */
    }

    .sec h2 {
        font-size: 2em; /* Ajusta o tamanho da fonte para a seção em telas menores */
    }

    .sec p {
        font-size: 1em; /* Ajusta o tamanho da fonte para parágrafos em telas menores */
    }
}

@media (max-width: 480px) {
    .logo h2 {
        font-size: 12vw; /* Ajusta o tamanho da fonte para telas muito pequenas */
    }

    .sec h2 {
        font-size: 1.5em; /* Ajusta o tamanho da fonte para a seção em telas muito pequenas */
    }

    .sec p {
        font-size: 0.9em; /* Ajusta o tamanho da fonte para parágrafos em telas muito pequenas */
    }
}
