@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&display=swap');

* {
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 180vh;
    background: rgb(93,198,246);
    background: linear-gradient(180deg, rgba(93,198,246,1) 0%, rgba(8,8,51,1) 100%);
    margin: 0;
    padding: 0;
}

.cabecalho .menu {
    align-items: center;
    display: flex;
    gap: 20vh 2vw;
    margin-left: 33%;
    margin-top: 3vh;
  }

  .menu a {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #fff;
    color: black;
    font-weight: Bold;
  }

  .home {
    display: flex;
    margin-top: 2vh;
    margin-left: 10%;
}

.home > iframe {
    margin-top: 1.3889vh;
    width: 59.625vw;
    height: 45.1111vh;
    border: 0;
}

.maps {
    margin-left: 9.7222vw;
    width: 59.625vw;
    height: 45.1111vh;
    border-radius: 10px;
    
}

  #mensagem-sucesso {
    display: none;
    padding: 10px 20px;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}

  form {
    --bg-light: #efefef;
    --bg-dark: rgb(93,198,246);
    --clr: #fff;
    --clr-alpha: #77777748;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  
  .form .input-span {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  form input[type="email"],
  form input[type="text"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
  }
  
  form input[type="email"]:focus,
  form input[type="text"]:focus {
    outline: 2px solid var(--clr);
  }
  
  .label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
  }
  
  form .submit {
    padding: 1rem 0.75rem;
    width: 20%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: .9rem;
    margin-right: 460px;
  }
  
  form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
  }
  
  .span {
    text-decoration: none;
    color: var(--bg-dark);
  }
  
  .span a {
    color: var(--clr);
  }