@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&display=swap');



* {
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 180vh;
    background: rgb(93,198,246);
    background: linear-gradient(180deg, rgba(93,198,246,1) 0%, rgba(8,8,51,1) 100%);
    margin: 0;
    padding: 0;
}

.cabecalho .menu {
    align-items: center;
    display: flex;
    gap: 20vh 2vw;
    margin-left: 33%;
    margin-top: 3vh;
  }

  .menu a {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #fff;
    color: black;
    font-weight: Bold;
  }

